* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    display: flex ;
    justify-content: center;
    align-items: center;
}
.container {
    border: 1px solid black;
}

#count {
    font-size: 5rem;
}